h1 {
  font-size: 75px;
  text-align: center;
}
h2{
  font-style: normal, "serif" ;
  font-size: 22px;
}
body {
  background-color: #e6ffff;
}

img {
  width:20%;
  float : left;
  margin-right: 50px;

}
