h1 {
  color: white;

  /* font-family: "Georgia", Times, serif; */
}

body {
  background: url("altitude-calm-cliff-552784.jpg") no-repeat center center fixed;
  background-size: cover;
}
/* h1 { text-align: center } */
/* #h1 {position: absolute; visibility: visible; left: 850px; 100px; z-index:200} */
h1 {
  border-style: solid;
  border-width: 50px;
  border: 25px solid white;
  padding: 30px;
  margin: 50px;
  margin-left: 375px;
  width: 350px;
  font-size: 85px;
  text-align: center;
  font-family: 'LibreCaslonDisplayRegular';
  display: flex;
  postion: fixed;
  align-items: center;
  justify-content: center;
}

a {
  /* border-style: solid; */
/* border-width: 30px; */
  width: 150px;
  height: 150px;
  /* border: 20px solid white; */
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -200px;
  font-size: 50px;
  color: white;
}

.Selfcare {
/* border-style: solid;
border-width: 30px; */
 font-size: 50px;
 width: 100px;
 height: 40px;
 top: 50%;
 left: 50%;
 margin-top: 100px;
 margin-left: 30px;
 color: White;
}

#learn {
  margin-left: -200px;
}
/* #selfcare {
  border-style: solid;
  border-width: 5px;
  width: 100px;
  height: 40px;
  border: 15px solid white;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: 30px;
} */
