h1 {
  color: white;

  /* font-family: "Georgia", Times, serif; */
}

body {
  background: url("newback.jpg") no-repeat center center fixed;
  background-size: cover;
}
/* h1 { text-align: center } */
/* #h1 {position: absolute; visibility: visible; left: 850px; 100px; z-index:200} */
h1 {
  border-style: solid;
  border-width: 50px;
  border: 25px solid white;
  padding: 100px;
  padding-right: 200px;
  margin: 50px;
  margin-left: 260px;
  width: 350px;
  font-size: 85px;
  text-align: center;
  font-family: 'LibreCaslonDisplayRegular';
  display: flex;
  postion: fixed;
  align-items: center;
  justify-content: center;
}

#logo {
  border-radius: 100px;
  border: none;
  background-color: Pink;
; /* Blue background */
  color: black; /* White text */
  padding: 24px 24x; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  position:absolute;
  margin-top: 125px;
  margin-right: : 0px;
    left: 765px;
    /* top: 200px; */

}

a {
  /* border-style: solid; */
/* border-width: 30px; */
  width: 150px;
  height: 150px;
  /* border: 20px solid white; */
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -200px;
  font-size: 50px;
  color: white;
}

/* .Selfcare {
/* border-style: solid;
border-width: 30px; */
 /* font-size: 50px;
 width: 100px;
 height: 40px;
 top: 50%;
 left: 50%;
 margin-top: 100px;
 margin-left: 30px;
 color: White;
} */
#learn {
  position: relative;
  background-color: White;
  border-style: solid;
  border-color: LightPink;
  font-size: 28px;
  color: Black;
  padding: 20px 26px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  left:47%
}

#learn:after {
  content: "";
  /* background: White;
  border-style: solid;
  border-color: White; */
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -100px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

#learn:active:after {
  border-style: solid;
  border-color: White;
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
#learn {
  margin-left: -200px;
}
#learn:hover {
  background-color: Pink;
  border-style: solid;
  border-color: White;
}
#self {
  position: relative;
  background-color: White;
  border-style: solid ;
  border-color: LightPink;
  font-size: 28px;
  color: Black;
  padding: 20px 44px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  left: 68%;
  width: 200px;
}
#self:after {
  content: "";
  /* background: Black;
  border-style: solid;
  border-color: White; */
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -100px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;

}
#self:hover {
  background-color: Pink;
  border-style: solid;
  border-color: White;
}



#self:active:after {
  /* padding: 20px 30px; */
  margin: 0;
  opacity: 1;
  transition: 0s
}
#self {
  margin-left: -200px;

/* #selfcare {
  border-style: solid;
  border-width: 5px;
  width: 100px;
  height: 40px;
  border: 15px solid white;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: 30px;
} */
