body {
  background-image: url("whiteleaf.jpg");
  position: left:100px;
  /* background-repeat: no-repeat; */
  background-position: center;
  min-height: 100%;
  min-width: 1024px;
}
#playlist1 { position: absolute; visibility: visible; left: 850px; top: 150px; z-index: 200; }
#playlist2 { position: absolute; visibility: visible; left: 500px; top: 150px; z-index: 200; }
#playlist3 { position: absolute; visibility: visible; left: 150px; top: 150px; z-index: 200; }


h1 {
  font-size: 60px;
  text-align:center;
  font-family: 'LibreCaslonDisplayRegular';
  font-weight: normal;
  font-style: normal;
  position: absolute;
  visibility: visible;
  left: 500px;
  top: 0px;
  z-index: 100;
}
/* button {

  top: 2%;
  left: 2%;
  font-size: 2px;
  padding: 0.5px, 1.5px;
  width:2px;
  height:2px;

} */
