h1 {
  font-size: 85px;
  text-align: center;
  /* font-family: 'LibreCaslonDisplayRegular'; */
   font-weight: normal;
   font-style: normal;
}

body {
  background-color: #ffe6e6;
}

.btn {
  background-color: #ffe6e6
; /* Blue background */
  border: none; /* Remove borders */
  color: black; /* White text */
  padding: 24px 24x; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  position:absolute;
  margin-top: -175px;
  margin-right: : 200px;
    left: 202px;
    top: 200px;

}

img {
  /* position: relative; */
  font-size: 28px;
  color: Black;
  padding: 20px;
  width: 360px;
  /* text-align: center; */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

img:after {
  content: "";
  background: White;
  border-style: solid;
  border-color: White;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -100px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

img:active:after {
  border-style: solid;
  border-color: White;
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
img {
  margin-left: 0px;
}
img:hover {
  background-color: Pink;
  border-style: solid;
  border-color: White;
}
