body {
  background: url("whiteleaf.jpg") no-repeat center center fixed;
  /* background-repeat: no-repeat; */
  background-size: cover;
}
#white1 { position: absolute; visibility: visible; left: 850px; top: 150px; z-index: 200; }
#white2 { position: absolute; visibility: visible; left: 500px; top: 150px; z-index: 200; }
#white3 { position: absolute; visibility: visible; left: 150px; top: 150px; z-index: 200; }


h1 {
  font-size: 60px;
  text-align:center;
  font-family: 'LibreCaslonDisplayRegular';
  font-weight: normal;
  font-style: normal;
  position: absolute;
  visibility: visible;
  left: 500px;
  top: 0px;
  z-index: 100;
}
.btn {
  background-color: Snow
; /* Blue background */
  border: none; /* Remove borders */
  color: black; /* White text */
  padding: 24px 24x; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  position:absolute;
  margin-top: -175px;
  margin-right: : 200px;
    left: 202px;
    top: 200px;

}
